<div class="container">
  <div class="auth-main-div d-flex-col d-flex-align">
    <div class="auth-upper">
      <img [src]="reddotLogo" alt="reddotlogo" />
      <h1>Robi OM Portal</h1>
    </div>

    <div class="auth-bottom bg-light">
      <div class="login-card btn_shadow">
        <div class="welcome-text mb-3">
          <p>
            <span><fa-icon class="mx-1" [icon]="usersIcon"></fa-icon></span>
            User Login
          </p>
        </div>
        <!-- <div class="form-title my-1">User Login</div> -->
        <div>
          <form [formGroup]="formData" (submit)="onSubmit()">
            <div class="row mb-3 btn-shadow">
              <label
                for="inputEmail3"
                class="col-sm-2 col-form-label d-flex-row"
              >
                Username:</label
              >

              <div class="col-sm-9">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Username"
                  id="inputEmail3"
                  formControlName="username"
                />
              </div>
            </div>
            <div class="row mb-3 btn-shadow">
              <label
                for="inputPassword3"
                class="col-sm-2 col-form-label d-flex-row"
              >
                Password:
              </label>
              <div class="col-sm-9">
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword3"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-primary shadow">
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
