.footer-div {
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin: 0 !important;
}

hr {
  margin: 0 !important;
  border: 0;
  border-top: 3px solid black;
}

b {
  font-weight: 700;
  color: black;
}
